- if ((typeof recentPosts !== 'undefined') && recentPosts.length > 0)
    - each post in recentPosts
      article
        - if (typeof post.images[0] !== 'undefined')
          img(src='/images/' + post.images[0].path + post.images[0].basename)
        .info
          h2=post.title
          p=post.summary
        hr
  //- a(href='/blog',class='button arrow') View all posts