#main-nav
  ul
    li.nav-about: a(href='/') Home
    li.nav-blog: a(href='/') Blog
    li.nav-port: a(href='/') Portfolio
    li.nav-contact: a(href='/') Contact
    li.nav-gzippo: a(href='/') gzippo